# (C) Copyright 2024 WeatherGenerator contributors.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
#
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

ERA5 :
  type : anemoi
  filenames : ['aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v7-ml137.zarr']
  source : [
    'u_23', 'u_29', 'u_35', 'u_41', 'u_47', 'u_53', 'u_59', # u-component of wind for 5 to 96 hPa or roughly 36 to 17 km
    'v_23', 'v_29', 'v_35', 'v_41', 'v_47', 'v_53', 'v_59', # v-component of wind
    't_23', 't_29', 't_35', 't_41', 't_47', 't_53', 't_59', # temperature
    'q_23', 'q_29', 'q_35', 'q_41', 'q_47', 'q_53', 'q_59', # specific humidity
    # 'w_23', 'w_29', 'w_35', 'w_41', 'w_47', 'w_53', 'w_59', # vertical velocity
    ]
  target : [
    'u_23', 'u_29', 'u_35', 'u_41', 'u_47', 'u_53', 'u_59',
    'v_23', 'v_29', 'v_35', 'v_41', 'v_47', 'v_53', 'v_59',
    't_23', 't_29', 't_35', 't_41', 't_47', 't_53', 't_59',
    'q_23', 'q_29', 'q_35', 'q_41', 'q_47', 'q_53', 'q_59',
    # 'w_23', 'w_29', 'w_35', 'w_41', 'w_47', 'w_53', 'w_59',
    ]
  # source_exclude : ['w_', 'skt', 'tcw', 'cp', 'tp']
  # target_exclude : ['w_', 'slor', 'sdor', 'tcw', 'cp', 'tp']
  loss_weight : 1.
  masking_rate : 0.6
  masking_rate_none : 0.05
  token_size : 32
  tokenize_spacetime : True
  embed : 
    net : transformer
    num_tokens : 1
    num_heads : 8
    dim_embed : 256
    num_blocks : 2
  embed_target_coords :
    net : linear
    dim_embed : 256 
  target_readout :
    type : 'obs_value'  # token or obs_value
    num_layers : 2
    num_heads : 4
    # sampling_rate : 0.2
  pred_head :
    ens_size : 1
    num_layers : 1
