# (C) Copyright 2024 WeatherGenerator contributors.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
#
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

ERA5 :
  type : anemoi
  filenames : ['aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v7-ml137.zarr']
  source : [
    'u_23', 'u_28', 'u_33', 'u_38', 'u_43', 'u_48', 'u_53', 'u_58', 'u_63', # u-component of wind for 5 to 117 hPa or roughly 15 to 36 km
    'v_23', 'v_28', 'v_33', 'v_38', 'v_43', 'v_48', 'v_53', 'v_58', 'v_63', # v-component of wind
    't_23', 't_28', 't_33', 't_38', 't_43', 't_48', 't_53', 't_58', 't_63', # temperature
    'q_23', 'q_28', 'q_33', 'q_38', 'q_43', 'q_48', 'q_53', 'q_58', 'q_63', # specific humidity
    'w_23', 'w_28', 'w_33', 'w_38', 'w_43', 'w_48', 'w_53', 'w_58', 'w_63', # vertical velocity
    ]
  target : [
    'u_23', 'u_28', 'u_33', 'u_38', 'u_43', 'u_48', 'u_53', 'u_58', 'u_63',
    'v_23', 'v_28', 'v_33', 'v_38', 'v_43', 'v_48', 'v_53', 'v_58', 'v_63',
    't_23', 't_28', 't_33', 't_38', 't_43', 't_48', 't_53', 't_58', 't_63',
    'q_23', 'q_28', 'q_33', 'q_38', 'q_43', 'q_48', 'q_53', 'q_58', 'q_63',
    'w_23', 'w_28', 'w_33', 'w_38', 'w_43', 'w_48', 'w_53', 'w_58', 'w_63',
    ]
  # source_exclude : ['w_', 'skt', 'tcw', 'cp', 'tp']
  # target_exclude : ['w_', 'slor', 'sdor', 'tcw', 'cp', 'tp']
  loss_weight : 1.
  masking_rate : 0.6
  masking_rate_none : 0.05
  token_size : 32
  tokenize_spacetime : True
  embed : 
    net : transformer
    num_tokens : 1
    num_heads : 8
    dim_embed : 256
    num_blocks : 2
  embed_target_coords :
    net : linear
    dim_embed : 256 
  target_readout :
    type : 'obs_value'  # token or obs_value
    num_layers : 2
    num_heads : 4
    # sampling_rate : 0.2
  pred_head :
    ens_size : 1
    num_layers : 1
