# (C) Copyright 2024 WeatherGenerator contributors.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
#
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

ERA5strato :
  type : anemoi
  filenames : ['aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v7-ml137.zarr']
  # 29, 30, 32, 33, 36, 37, 40, 41, 44, 45, 48, 49, 51, 53, 54
  source : [
    'u_29', 'u_30', 'u_32', 'u_33', 'u_36', 'u_37', 'u_40', 'u_41', 'u_44', 'u_45', 'u_48', 'u_49', 'u_51', 'u_53', 'u_54', # u-component of wind
    'v_29', 'v_30', 'v_32', 'v_33', 'v_36', 'v_37', 'v_40', 'v_41', 'v_44', 'v_45', 'v_48', 'v_49', 'v_51', 'v_53', 'v_54', # v-component of wind
    't_29', 't_30', 't_32', 't_33', 't_36', 't_37', 't_40', 't_41', 't_44', 't_45', 't_48', 't_49', 't_51', 't_53', 't_54', # temperature
    ]
  target : [
    'u_29', 'u_30', 'u_32', 'u_33', 'u_36', 'u_37', 'u_40', 'u_41', 'u_44', 'u_45', 'u_48', 'u_49', 'u_51', 'u_53', 'u_54',
    'v_29', 'v_30', 'v_32', 'v_33', 'v_36', 'v_37', 'v_40', 'v_41', 'v_44', 'v_45', 'v_48', 'v_49', 'v_51', 'v_53', 'v_54',
    't_29', 't_30', 't_32', 't_33', 't_36', 't_37', 't_40', 't_41', 't_44', 't_45', 't_48', 't_49', 't_51', 't_53', 't_54',
    ]
  loss_weight : 1.
  frequency : "24:00:00"
  masking_rate : 0.6
  masking_rate_none : 0.05
  token_size : 8
  tokenize_spacetime : True
  max_num_targets: -1
  embed : 
    net : transformer
    num_tokens : 1
    num_heads : 8
    dim_embed : 256
    num_blocks : 2
  embed_target_coords :
    net : linear
    dim_embed : 256
  target_readout :
    type : 'obs_value'  # token or obs_value
    num_layers : 2
    num_heads : 4
    # sampling_rate : 0.2
  pred_head :
    ens_size : 1
    num_layers : 1
