# (C) Copyright 2024 WeatherGenerator contributors.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
#
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

ERA5 :
  type : anemoi
  filenames : ['aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v7-ml137.zarr']
  # pick u,v,t,q for 15 model levels in different layers
  source : [
    'u_137', 'u_136', 'u_135', 'u_133', 'u_131', 'u_129', 'u_127', 'u_124', 'u_121', 'u_118', 'u_114', 'u_110', 'u_106', 'u_102',
    'v_137', 'v_136', 'v_135', 'v_133', 'v_131', 'v_129', 'v_127', 'v_124', 'v_121', 'v_118', 'v_114', 'v_110', 'v_106', 'v_102',
    't_137', 't_136', 't_135', 't_133', 't_131', 't_129', 't_127', 't_124', 't_121', 't_118', 't_114', 't_110', 't_106', 't_102',
    'q_137', 'q_136', 'q_135', 'q_133', 'q_131', 'q_129', 'q_127', 'q_124', 'q_121', 'q_118', 'q_114', 'q_110', 'q_106', 'q_102',
    'z', '10u', '10v', '2t' # surface variables
  ]
  target : []
  loss_weight : 1.
  masking_rate : 0.6
  masking_rate_none : 0.05
  token_size : 8
  tokenize_spacetime : True
  max_num_targets: -1
  embed : 
    net : transformer
    num_tokens : 1
    num_heads : 8
    dim_embed : 256
    num_blocks : 2
  embed_target_coords :
    net : linear
    dim_embed : 256
  target_readout :
    type : 'obs_value'  # token or obs_value
    num_layers : 2
    num_heads : 4
    # sampling_rate : 0.2
  pred_head :
    ens_size : 1
    num_layers : 1
